/*  mobile.css */
.main-container{
    width: 100%;
    background-image:url(../images/main-bg-mobile.jpg);
    background-size:cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
#gnb li:first-child{
    display: block;
    font-size:30px;
}
#gnb li:nth-child(2), #gnb li:nth-child(3), #gnb li:nth-child(4), #gnb li:nth-child(5){
    display: none;
}
.img-box{
    width: 200px;
    height: 200px;
    /* background: #ccc; */
    border-radius: 50%;
    /* margin-left: 244px; */
    background-image: url(../images/img-box-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text h1{
}
h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .4s ease infinite alternate;
    font-size: 60px;
    font-weight: 500;
    color: #99B4BF;
    text-shadow: 0 1px 0 #ccc
                 0 2px 0 #ccc,
                 0 3px 0 #ccc,
                 0 4px 0 #ccc,
                 0 5px 0 #ccc,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
  }
  
  h1 span:nth-child(2) { animation-delay: .1s; }
  h1 span:nth-child(3) { animation-delay: .2s; }
  h1 span:nth-child(4) { animation-delay: .3s; }
  h1 span:nth-child(5) { animation-delay: .4s; }
  h1 span:nth-child(6) { animation-delay: .5s; }
  h1 span:nth-child(7) { animation-delay: .6s; }
  h1 span:nth-child(8) { animation-delay: .7s; }
  
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
}
}