/* mobile.css */
body{
    width: 100%;
}
header{
    width: 100%;
}
#gnb{
    width: 100%;
    position:fixed;
    top:0;
    z-index:1;
}
#gnb ul{
    width: 100%;
    display: flex;
}
#gnb li{
    width: 25%;
    height: 40px;
    text-align: center;
}
#gnb li a:hover{
    color:#fff;
}
#gnb li:first-child{
    display: none;
}
#gnb li:nth-child(2){
    background-color:var(--home-color);
    border-radius: 0 0 0 20px;
}
#gnb li:nth-child(3){
    background-color: var(--about-me-color);
}
#gnb li:nth-child(4){
    background-color: var(--works-color);
}
#gnb li:nth-child(5){
    background-color: var(--contact-color);
    border-radius: 0 0 20px 0;
}
#gnb a{ 
    text-transform: uppercase;
    font-size:20px;
    font-weight:500;
    line-height: 40px;
    display:inline-block;
}

.main-container{
    width: 100%;
    height: 100vh;
    background-image:url(../images/mobile-bg.jpg);
    /* padding-top: 100px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container > .container1{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top:10%;
   padding-bottom: 10%;
}
.img-box{
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url(../images/img-box-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* outline:1px solid blue; */
}
.text h1{
    letter-spacing: -3px;
}
h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .4s ease infinite alternate;
    font-size: 76px;
    font-weight: 500;
    color: #99B4BF;
    text-shadow: 0 1px 0 #ccc
                 0 2px 0 #ccc,
                 0 3px 0 #ccc,
                 0 4px 0 #ccc,
                 0 5px 0 #ccc,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
  }
  
  h1 span:nth-child(2) { animation-delay: .1s; }
  h1 span:nth-child(3) { animation-delay: .2s; }
  h1 span:nth-child(4) { animation-delay: .3s; }
  h1 span:nth-child(5) { animation-delay: .4s; }
  h1 span:nth-child(6) { animation-delay: .5s; }
  h1 span:nth-child(7) { animation-delay: .6s; }
  h1 span:nth-child(8) { animation-delay: .7s; }
  
  @keyframes bounce {
    100% {
      top: -10px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
}
}
.main-subtitle{
    font-size:24px;
    font-weight: 400;
    /* margin-top: 50px; */
    color:rgb(71, 71, 71);
    display: none;
} 
.text .name{
    font-size:30px;
    letter-spacing: 2px;
    display: none;
}
/* aboutme */
#about-me{
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
}
.container{
    width: 100%;
    /* outline:1px solid red; */
    /* padding-top: 100px; */
}
.container p{
    font-size:16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.job{
    text-align: center;
}
.selfie-box{
    margin: 0 auto;
    width: 70%;
    height: 390px;
    background-image: url(../images/about-me-img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    z-index: 1;
}
.selfie-box-bg{
    width: 250px;
    height: 300px;
    position:absolute;
    top:18%;
    left:50%;
    transform:translateX(-30%);
}
.selfie-box-bg img{
    width: 100%;
    height: 100%;
}
.tape{
    width: 76px;
    height: 36px;
    position:absolute;
    top:-3%;
    left:50%;
    transform: translateX(-50%);
    z-index: 4;
    display: none;
}
.tape img{
    width: 100%;
    height: 100%;
}

.title{ 
    margin-left: 20px;
}
.profile{
    margin-top: 40px;
}
.sub-name, .birthday{
    text-align: center;
    margin-top:10px;
}
.title{
    font-size:30px;
    font-weight: 500;
    color:#99B4BF;
}
.text-container p{
    text-align: center;
    margin-top: 10px;
}

.skills{
    margin-top: 40px;
}
.skills-box{
    margin-top: 40px;
}
.skills-box:first-child{
    margin-top: 0;
}
.mt30{
    margin-top: 30px;
}
.eduction-sub{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 130px;
}

/* works */
#works{
    width: 100%;
    text-align: center;
}
.category-box{
    width: 100%;
    /* outline:1px solid red; */
}
.web-publishing-img{
    width: 100%;
    height: 300px;
    background-image: url(../images/web-publishing.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}
.img-hover:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, .4);
}
.cst1{
    position: absolute;
    top:-2%;
    left:50%;
    transform:translateX(-50%);
}

.ui-ux-img{
    width: 100%;
    height: 300px;
    background-image: url(../images/ui-ux.jpg);
    background-size: cover;
    background-position:5px;
    position:relative;
}
.cst2{
    position: absolute;
    top:35%;
    left:50%;
    transform:translateX(-50%);
}
.graphic-img{
    width: 100%;
    height: 300px;
    background-image: url(../images/graphic.jpg);
    background-size: cover;
    background-position:2px;
    position:relative;
}
.cst3{
    position: absolute;
    top:71%;
    left:50%;
    transform:translateX(-50%);
}
.sub-title{
    display: block;
    text-align:center;
    font-size:30px;
    margin-bottom: 120px;
    margin-top: 24px;
}
.sub-title:hover{
    opacity: 0.6;
}
.text-hover{
    color:#6c9b73;
}
.text-hover2{
    color:#af5fce;
}
.text-hover3{
    color:#f8a240;
    margin-bottom: 100px;
}


/* contact */
#contact{
    width: 100%;
    background-image: url(../images/mobile-bg2.jpg);
    background-position:center;
    background-size:cover;
    text-align: center;
}
.container3{
    padding-bottom: 150px;
}
.container3 h4{
    font-size:40px;
    color:#43ACA3;
    font-weight: 400;
}
.contact-img-box{
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.contact-img-box img{
    width: 100%;
    height: 100%;
}
.mirror-selfie{
    width: 70%;
    height: 70%;
    margin: 0 auto;
}
.mirror-selfie img{
    width: 100%;
    height: 100%;
}
.container3 p{
    font-size:28px;
    color:#5f5f5e;
}
.phone-num{
    margin-top: 20px;
    margin-bottom: 10px;
}
/* ************************************************************************ */
/* wp-sub1- 웹퍼블리싱서브페이지 */
.wp-hanil{
    width: 100%;
}
.sub-container{
    width: 100%;
    /* outline:1px solid blue; */
}
.thumbnail-box{
    background-color: #D8E4DA;
    width: 100%;
    height: 800px;
    padding-top: 60px;
    text-align: center;
}
.thumbnail-box img{
    width: 95%;
    height: 700px;
    object-fit:cover;
    object-position: top;
    box-shadow: 0 3px 16px rgba(0, 0, 0, .2);
}
.tb2{
    background-color: #D5EDF5;
    width: 100%;
    height: 800px;
    padding-top: 60px;
    text-align: center;
}
.tb3{
    background-color: #ffe6e8;
    width: 100%;
    height: 800px;
    padding-top: 60px;
    text-align: center;
}
.tb4{
    background-color: #F19BC2;
    width: 100%;
    height: 800px;
    padding-top: 60px;
    text-align: center;
    position:relative;

}
.center-box h2{
    text-align: center;
    font-size:28px;
    font-weight:500;
    margin-top: 30px;
    margin-bottom: 60px;
}
.wp-color{
    color:#8ABFCC;
    margin-right: 5px;
}
.wp-h4-color{
    font-size:22px;
    color:#8ABFCC;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 40px;
}
.center-box p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
    text-align: center;
}
.work-detail-words{
    margin-bottom: 30px;
}
.color-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.circle{
    width: 30px;
    height: 30px;  
    border-radius: 50%;
    margin-right: 20px;
}
.color-1212A2{
    background-color:#1212A2;
}
.color-E9AD08{
    background-color:#E9AD08;
}
.color-26722E{
    background-color:#26722E;
}
.work-description{
    line-height: 30px;
    padding: 0 30px;
    margin-bottom: 50px;
}

/* 사이트 바로가기 */
.site-view{
    display:block;
    width: 200px;
    height: 50px;
    color:#fff;
    background-color: #4E7466;
    font-size:26px;
    text-align: center;
    line-height: 50px;
    border-radius: 36px;
    margin:0 auto;
}

.site-view:hover{
    color:#4E7466;
    background-color: transparent;
    border:2px solid #4E7466;
}

/* 로슈 */

.wp-roche{
    margin-top: 100px;
}
.color-0066CC{
    background-color:#0066CC;
}
.roche-color{
    margin-top: 40px;
}
.mb60{
    margin-bottom: 60px;
}
.sv2{
    background-color: #4395C5;

}
.sv2:hover{
    color:#4395C5;
    background-color: transparent;
    border:2px solid #4395C5;
}
/* 모바일 청접장 */
.mobile-wedding{
    margin-top: 100px;
}
.color-E3A831{
    background-color: #E3A831;
}
.color-FFFDE6{
    background-color: #FFFDE6;
    border:1px solid #BFBDBD;
}
.sv3{
    background-color: #E88888;
    margin-bottom: 100px;
}
.sv3:hover{
    color:#E88888;
    background-color: transparent;
    border:2px solid #E88888;
}
/* jyp 리뉴얼  */
.wp-jyp{
    margin-top: 100px;
}
.sub-text-box2{
    width: 100%;
}
.color-2faeff{
    background-color: #2faeff;
}
.sv6{
    background-color: #EF639F;
    margin-bottom: 100px;
}
.sv6:hover{
    color:#EF639F;
    background-color: transparent;
    border:2px solid #EF639F;
}

.imgbox{
    display: none;

}
.mobile-jyp-img{
    width: 100%;
    height: 100%;   
}
/* ******************************************************************* */
/* ui/ux 서브페이지*/
/* 오늘의배달 */
.ob-bg{
    background-color: #E0E0EE;
    width: 100%;
    height: 700px;
}
.ob-bg img{
    width: 90%;
    height: 98%;
    object-fit: contain;
    box-shadow: none;
}
.color-8545FD{
    background-color: #8545FD;
}
.uiux-color{
    color:#9976BC;
    margin-right: 20px;
}
.uiux-h4-color{
    font-size:26px;
    font-weight: 500;
    margin-bottom: 20px;
    color:#9976BC;
    margin-left: 10px;
}
.sv4{
    background-color: #9976BC;
}
.sv4:hover{
    color:#9976BC;
    background-color: transparent;
    border:2px solid #9976BC;
}
/* 디올 */
.thumbnail-box2{
    background-color: #DBDBDB;
    width: 100%;
    height: 700px;
    padding-top: 60px;
    text-align: center;
}

.thumbnail-box2 img{
    width: 90%;
    height: 630px;
    object-fit: contain;
    box-shadow: none;
}
.color-EEEEEE{
    background-color: #EEEEEE;
    border:1px solid #D8D7D7;
}
.color-919191{
    background-color: #919191;
}
.color-000000{
    background-color: #000;
}
.sv5{
    background-color: #3C3C3D;
    margin-bottom: 100px;
}
.sv5:hover{
    color:#3C3C3D;
    background-color: transparent;
    border:2px solid #3C3C3D;
}
#over-view-container{
    width: 100%;
}
#over-view-container .pc-ov{
    display:none;
}
#over-view-container .mobile-ov{
    display: block;
    width: 100%;
    height: 100%;
}

/* ************************************************************************* */
/* graphic */
.sub3-container{
    width: 100%;
    display:flex;
    margin:0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* outline:1px solid red; */
    padding-bottom: 100px;
}
.graphic-title{
    text-align: center;
    font-size:55px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;
    color:var(--about-me-color);
}

.graphic-box{
    margin:0 20px;
    text-align: center;
}
.graphic-box .rotate{
    object-fit: cover;
    transition-duration: .5s;
    display: block;
    margin-bottom: 20px;
}
.graphic-box .rotate:hover{
    transform:rotate(6deg);
}
.graphic-box a{
    display: block;
    font-size:30px;
    margin-top: 26px;
}

.click-here:hover{
    transform:scale(1.1);
}
